.submit-button {
	width: 100px;
	border: 3px solid black;
	border-radius: 10px;
	padding: 10;
}

#error-button {
	background-color: red;
}

#warning-button {
	background-color: yellow;
}

#success-button {
	background-color: green;
}

.toast-error {
	background-color: red;
}

.toast-info {
	background-color: yellow;
}

.toast-success {
	background-color: green;
}